body {
    background-color: #EFF3FF;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    font-size: 12px;
    zoom: 105%;
}

.backgr {
    width: 750px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.ss {
    margin-left: -100px;
}
.ss link{
    text-decoration: none;
}

.your {
    font-family: ' Red Hat Display', sans-serif;
    font-weight: bold;
}

.your1 {
    margin-left: 30px;
    padding-bottom: 25px;
    font-size: 17px;
}
.log {
    font-weight: bold;
    font-size: 25px;
    font-family: ' Red Hat Display', sans-serif;
}
.logtext {
    color: gray;
}

#password {
    height: 30px;
    width: 298px;
}
#buter {
    width: 305px;
    height: 29px;
   background-color:#515DEF;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}
.img5 img{
width: 300px;
height: 430px;
margin-left: 25px;
margin-top: 25px;
}
