body {
    background-color: #EFF3FF;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    font-size: 12px;
    zoom: 105%;
}

.backgr {
    width: 750px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.ss {
    margin-left: -100px;
}
.ss link{
    text-decoration: none;
}

.your {
    font-family: ' Red Hat Display', sans-serif;
    font-weight: bold;
}

.your1 {
    margin-left: 30px;
    padding-bottom: 25px;
    font-size: 17px;
}
.log {
    font-weight: bold;
    font-size: 25px;
    font-family: ' Red Hat Display', sans-serif;
}
.logtext {
    color: gray;
}

#emai-input {
    height: 30px;
    width: 298px;
}
#buter {
    width: 305px;
    height: 29px;
   background-color:#515DEF;
    border-radius: 3px;
    color: white;
}

.backgr button {
    width: 95px;
    height: 30px;
    background-color: white;
    border-color: #3869EB;
    border-radius: 2px;
    cursor: pointer;
    border: solid 1px  #3869EB;
}
.img3 img{
    margin-top: -30px;
    margin-left:25px;
    height: 530px;
    width: 300px;
}
 .notice {
            display: none;
            position: fixed;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border: 1px solid #3869EB;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            z-index: 1000;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.notice button{
    background-color:#515DEF;
    border: none;
    border-radius: 3px;
    color: white;
    width: 130px;
    height: 30px;

}
