body {
    background-color: #EFF3FF;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    font-size: 11px;
    zoom: 105%;
}
.backgr {
    width: 750px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    display: flex;
}

.your {
    font-family: ' Red Hat Display', sans-serif;
    font-weight: bold;
}

.your1 {
    margin-left:240px;
    margin-top: 10px;
    font-size: 17px;
}
.img2 img{
margin-top: 33px;
width: 400px;
height: 410px;
margin-left: -30px;
}
.sign{
     font-family: ' Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.ss{
    margin-left:-380px ;
}
.textsign{
    color: gray;
}
#name,#lastname,#email,#phone,#password,#confirm{
    height: 35px;
    width: 180px;
    border-radius: 3px;

}
#password{
    width: 375px;
}
#confirm{
    width: 375px;
}
input{
  border: 1px solid #ccc;
  border-radius: 3px;
}


  .rule {
    font-size: 14px;
    margin-top: 8px;
    display: none; 
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }

  .rule.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .rule.hide {
    opacity: 0;
    transform: translateY(-10px);
  }

  .valid {
    color: green;
  }

  .invalid {
    color: red;
  }
.bu button{
width: 377px;
height: 30px;
background-color:#515DEF;
color: white;
border: none;
border-radius: 3px;
}
button{
    width: 120px;
    height: 29px;
    border: solid 1px #3869EB;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
}